.jumbotron {
    background-image: url("/assets/images/jumbotron.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#village img {
    height: 100%;
    object-fit: cover;
}

.carousel-item img {
    height: 255px;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
}

#destination,
#tour-package,
#village {
    padding: 5rem 0;
}

.card {
    width: 18rem;
}

.card .card-body {
    height: 200px;
    overflow: hidden;
}

.card .card-img {
    height: 300px;
    object-fit: cover;
}

.fixed-top {
    background: rgba(0, 0, 0, 0);
}

.fixed-top.scrolled {
    background-color: #fff !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: background-color 200ms linear;
}

@media only screen and (min-width: 550px) {
    .jumbotron .destination:not(:last-child):after {
        display: inline;
        content: " | ";
    }
}

@media only screen and (max-width: 550px) {
    .jumbotron .destination {
        display: block;
    }
}
